.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.env
*.iml
.idea/
.vscode/
pubspec.lock
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
**/android/key.properties
**/android/app/upload-keystore.jks
